@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: Open Sans, Arial;
  margin: 40px auto;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

main {
  max-width: 650px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  line-height:1.2
}

section {
  margin-bottom: 4em;
}

.masthead {
  text-align: center;
  margin-bottom: 4em;
}

  .masthead__title {
    margin-bottom: 0.3em;
  }

  .masthead__author {
    font-size: 0.8em;
  }

